@model TravelInsurance.Infrastructure.Dto.User.UserRequestViewModel

@{
    ViewData["Title"] = "Create";
}


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

    // Document is ready
    $(document).ready(function () {
        // Validate Username
        $("#verifyUser").hide();
        let usernameError = true;
        $("#myuserName").keyup(function () {
            validateUsername();
        });
        function validateUsername() {
            let usernameValue = $("#myuserName").val();
            if (usernameValue.length == "") {
                $("#verifyUser").show();
                usernameError = false;
                return false;
            } else if (usernameValue.length < 4 || usernameValue.length > 12) {
                $("#verifyUser").show();
                $("#verifyUser").html("The length of the username should be between 4 and 12 characters.");
                usernameError = false;
                return false;
            } else {
                $("#verifyUser").hide();
            }
        }

        // Validate Email
        const email = document.getElementById("email");
        email.addEventListener("blur", () => {
            let regex = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            let s = email.value;
            if (regex.test(s)) {
                email.classList.remove("is-invalid");
                emailError = true;
            } else {
                email.classList.add("is-invalid");
                emailError = false;
            }
        });
        // Validate Password
        $("#checkPassword").hide();
        let passwordError = true;
        $("#password").keyup(function () {
            validatePassword();
        });
        function validatePassword() {
            let passwordValue = $("#password").val();
            if (passwordValue.length == "") {
                $("#checkPassword").show();
                passwordError = false;
                return false;
            }
            if (passwordValue.length < 4 || passwordValue.length > 12) {
                $("#checkPassword").show();
                $("#checkPassword").html(
                    "The length of the password should be between 4 and 12 characters."
                );
                $("#checkPassword").css("color", "red");
                passwordError = false;
                return false;
            } else {
                $("#checkPassword").hide();
            }
        }

        // Validate Confirm Password
        $("#checkConfirmPass").hide();
        let confirmPasswordError = true;
        $("#confirmPass").keyup(function () {
            validateConfirmPassword();
        });
        function validateConfirmPassword() {
            let confirmPasswordValue = $("#confirmPass").val();
            let passwordValue = $("#password").val();
            if (passwordValue != confirmPasswordValue) {
                $("#checkConfirmPass").show();
                $("#checkConfirmPass").html("Please enter your correct password");
                $("#checkConfirmPass").css("color", "red");
                confirmPasswordError = false;
                return false;
            } else {
                $("#checkConfirmPass").hide();
            }
        }
        // Submit button
        $("#submitbtn").click(function () {
            validateUsername();
            validatePassword();
            validateConfirmPassword();
            validateEmail();
            if (
                usernameError == true &&
                passwordError == true &&
                confirmPasswordError == true &&
                emailError == true
            ) {
                return true;
            } else {
                return false;
            }
        });
    });

</script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">User Management</h1>
    </div>

    <!-- Create User -->
    <div class="card shadow mb-4 create-user">
        <div class="card-header py-3">
            <h6 style="color:#00376c !important" class="m-0 font-weight-bold text-primary">Create New User</h6>
        </div>
        <div class="card-body">
            <form asp-action="Create">
               
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Name<span>*</span></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email<span>*</span></label>
                    @*  <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" id="EmailValidation" class="text-danger"></span> *@
                    <input type="email" asp-for="Email" id="email" required class="form-control">
                    <small id="emailvalid" class="form-text text-muted invalid-feedback">
                        Please enter your valid email id
                    </small>

                </div>

                <div class="form-group">
                    <label for="selectedRoleId">Role<span>*</span></label>
                    @Html.DropDownListFor(model => model.RoleId, ViewBag.RoleList as SelectList, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label asp-for="PasswordHash" class="control-label">Password<span>*</span></label>
                    @*  <input id="txtPassword" type="password" asp-for="PasswordHash" class="form-control" />
                    <span asp-validation-for="PasswordHash" class="text-danger"></span> *@
                    <input type="password" asp-for="PasswordHash" id="password" class="form-control">
                    <h5 id="checkPassword" style="color: red;">
                        Please enter your password
                    </h5>
                </div>

                <div class="form-group">
                    <label asp-for="PasswordHash" class="control-label">Confirm Password<span>*</span></label>
                    @*  <input id="txtConfirmPassword" type="password" asp-for="PasswordHash" class="form-control" />
                    <span asp-validation-for="PasswordHash" class="text-danger"></span> *@
                    <input type="password" name="username" id="confirmPass" class="form-control">
                    <h5 id="checkConfirmPass" style="color: red;">
                        Please enter your correct password
                    </h5>
                </div>
              @*   <div style="color: green;" class="form-group">
                    @ViewBag.SuccessMessage
                </div>
                <div style="color: red;" class="form-group">
                    @ViewBag.ErrorMessage
                </div> *@
                @if (ViewBag.SuccessMessage != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.SuccessMessage");
                        };
                    </script>
                }

                @if (ViewBag.ErrorMessage != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.ErrorMessage");
                        };
                    </script>
                }

                <div class="form-group">
                    <input type="submit" id="submitbtn" value="Save" class="form-control save">
                </div>
             
            </form>

        </div>

    </div>

</div>





       

<div>
    <a asp-action="Index">
        <input type="button" class="form-control ok-btn" value="Back to List" />
    </a>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
