@model TravelInsurance.Infrastructure.Entities.StateCode

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StateCode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateCodeEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateCodeEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateCodeMM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateCodeMM)
        </dd>
      @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedStaffNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedStaffNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedStaffNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedStaffNo)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
